@tailwind base;
@tailwind components;
@tailwind utilities;

element {
  color: #48e45526;
}

.no_arrows::-webkit-outer-spin-button,
.no_arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
